@{
    ViewData["Title"] = "Home Page";
}


<div class="hero">



    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="hero-title-btn">
                    <h1 class="main-title">
                        Enjoy The Taste of
                        <div>
                            Premium Meals
                        </div>
                    </h1>
                    <h5 class="sub-title mt-3">We make the second best burger in the country</h5>
                    <button class="btn btn-danger mt-3 px-4">Order Now</button>
                </div>
            </div>
            <div class="col-md-6">
                <img class="img-fluid" src="~/imgs/restaurant.png" alt="Restaurant" />
            </div>
        </div>
    </div>



</div>