html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

.navbar-brand {
    padding: 0;
}

.logo-img {
    height: 45px;
}

.hero {
    padding: 66px 0 80px;
}

.bg-section {
    background-color: #fef5f5;
}

.main-title {
    color: #4e4039;
}

.sub-title {
    color: #9f887f;
}

.hero-title-btn {
    padding-top: 50px;
}

.section-title {
    font-size: 1.2rem;
    color: #9f887f;
    font-weight: bold;
}

.section-sub-title {
    color: #4e4039;
    font-size: 2rem;
    font-weight: bold;
}

.info-card {
    background-color: #fff;
    padding: 30px 26px 15px;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 10px;
}

.info-card .icon i {
    font-size: 3.5rem;
    color: #bb0d16;
}

    .info-card .title {
        font-weight: bold;
        margin: 10px 0;
    }

.section-newsletter {
    margin-top: 1.5rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    text-align: center;
}

    .section-newsletter .title {
        color: #4e4039;
        font-size: 1.5rem;
        font-weight: bold;
    }

    .section-newsletter .input-group {
        width: 50%;
        margin: auto;
    }

@media only screen and (max-width : 991px) {
    .section-newsletter .input-group {
        width: 75%;
    }
}

/* typical phone screen resolution */
@media only screen and (max-width : 767px) {
    .hero {
        text-align: center;
    }

    .hero-title-btn {
        margin-bottom: 30px;
    }

        .hero-title-btn .btn {
            width: 100%;
        }
}

.social-links {
    margin: 1rem 0;
}

    .social-links .lnk {
        float: left;
        margin-left: 8px;
        background-color: #dc3545;
        border-radius: 50%;
        width: 44px;
        height: 44px;
        font-size: 1.4rem;
    }

    .social-links .lnk:first-child {
        margin-left: 0;
    }

        .social-links .lnk a {
            color: #fff !important;
        }

.back-to-top {
    position: fixed;
    right: 20px;
    bottom: 20px;
}

.back-to-top i {
    color: #fff;
}

.pointer {
    cursor: pointer;
}

.text-hot-pink {
    color: hotpink;
}