html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.navbar-brand {
    padding: 0;
}

.logo-img {
    height: 45px;
}

.hero {
    background-color: #fef5f5;
    padding: 66px 0 80px;
}

.main-title {
    color: #4e4039;
}

.sub-title {
    color: #9f887f;
}

.hero-title-btn {
    padding-top: 50px;
}